.VideoSectionContainer {
    background-color: #3FD472;
    height: 100%;
    flex: 0.8;
}

.VideoSection__Title {
    font-size: 2rem;
    margin-left: 72px;
}

.lofiChillVideoSection {
    display: flex;
}

.VideosSection {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 15px;
}