.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-color: #3FD472;
}

.landingPage__button {
    margin: 25px;
}

.welcome-text {
    text-align: center;
    margin: 50px;
    width: 50vw;
}

.focusing-text {
    margin-bottom: 100px;
  font-size: 3rem;
}

.genre-text {
    font-size: 2.5rem;
}

.landingPage__button {
    padding: 15px;
    background-color: #3FD472;
    border: none;
}

.landingPage__buttonText {
    color: white;
    font-size: 1.5rem;
}

.landingPage__buttonText:hover {
    color: #9755D4;
    font-size: 1.5rem;
    font-weight: bolder;

}