
.lofiVideoSection {
    display: flex;
    flex-wrap: wrap;
}

.VideoSectionContainer {
    background-color: #3FD472;
    flex: 0.8;
}

.VideoSection__Title {
    color: black;
    font-size: 2rem;
    margin-left: 75px;
}

.lofiChillVideoSection {
    display: flex;
}

.VideosSection {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 15px;
    background: #3FD472;
}