.StudyLive {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #3FD472;
}

.StudyLive__VideosSection {
    display: flex;
    flex-wrap: wrap;
    flex: 0.8;
}

.VideosSection {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 15px;
}

.StudyLive__Text {
    text-align: center;
    font-size: 2rem;
}

.StudyLive__TextTwo {
    text-align: center;
    margin-left: 35%;
    font-size: 2rem;
}

.link-style:hover {
  color: white;
  font-weight: bolder;
}

.link-style {
   color: #9755d4;
}