.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 5px;
  box-shadow: 19px 19px 26px #bebebe, -19px -19px 26px #ffffff;
  margin-bottom: 15px;
}


.nav-links {
  display: flex;
  margin-right: 25px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #333333;
  border-radius: 15px;
}

.header__logo {
  height: 8vh;
  object-fit: contain;
}

.nav__text {
  color: #333333;
  font-size: 1.2rem;
  font-weight: bolder;
}

.nav__text:focus {
  color: #9755d4;
}

.nav__text:hover {
  color: #9755d4;
  font-size: 1.2rem;
  font-weight: bolder;
}

.logOutButton {
  padding: 4px 20px;
  border-radius: 15px;
  border: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
  background: white;
}

.logOutButton:hover {
  cursor: pointer;
  color: #9755d4;
  font-size: 1.2rem;
  font-weight: bolder;
}
