.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #333333;
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 25px;
 
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: black;
  border-radius: 15px;
}

.nav-links {
  color: 333333;
}

.header__logo {
  height: 8vh;
  object-fit: contain;
}

.nav__text {
  color: 333333;
  font-size: 1.2rem;
  font-weight: bolder;
}

.nav__text:focus {
  color: whitesmoke;
}

.nav__text:hover {
  color: #9755d4;
  font-size: 1.2rem;
  font-weight: bolder;
}

.logOutButton {
  padding: 4px 20px;
  border-radius: 15px;
  border: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
}

.logOutButton:hover {
  cursor: pointer;
  color: #9755d4;
  font-size: 1.2rem;
  font-weight: bolder;
}
