.sidebar-container {
  flex: 0.2;
  min-width: 15%;
  background: #3fd472;
  height: 100%;
  position: sticky;
  border-right: 2px solid #333333;
  border: 2px solid #333333;
  margin-left: 10px;
  width: 18rem;
}

.sidebarRow__genre {
  padding: 4px 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sidebarRow__genre:last-child {
  margin-bottom: 30px;
}

.sidebarRow__genre:focus {
   color: #9755d4;
  font-weight: bolder;
}

.sidebarRow__genre:target {
   color: #9755d4;
  font-weight: bolder;
}

.sidebarRow {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


