.sidebarRow__genre {
  padding: 4px 20px;
  margin-top: 15px;
  color: black;
}

.sidebarRow__title {
  padding: 4px 20px;
  flex: 1;
  text-decoration: none;
}

.sidebarRow__title:first-child {
  padding: 4px 20px;
  margin-top: 25px;
  flex: 1;
  text-decoration: none;
}

.sidebarRow__title:last-child {
  padding: 4px 20px;
  margin-bottom: 15px;
  flex: 1;
  text-decoration: none;
}

.sidebarRow__title a:active {
  padding: 4px 25px;
  flex: 1;
  text-decoration: none;
  background-color: #9755d4;
}

.sidebarRow__title:hover {
  background: #9755d4;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.sidebar-container {
  flex: 0.2;
}
