.videoCard {
  min-width: 270px;
  margin-bottom: 40px;
}

.videoCard__info {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  background:   #333333;
  border-radius: 25px;
  margin-left: 15px;
  height: 400px;
}

.videoCard__description {
  margin-left: 5px;
  width: 270px;
  padding-left: 10px;
  background: #333333;
}

.videoCard__description h4 {
  font-size: 14px;
  margin-bottom: 5px;
  width: 350px;
  color: white;
  background: #333333;
}
.videoCard__description p {
  font-size: 14px;
  color: white;
  background: #333333;
}

.video__avatar {
  height: 30px;
  width: 30px;
}

.video__container {
  margin: 25px;
}
