@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3FD472;
}

.search-app {
    display: flex;
}

.main-music-container {
    display: flex;
    /* color: #3FD472; */
    height: 100%;
}

.sectionTitle {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 2rem;
}
s
.App {
    background: #3FD472;
    
}

